<div class="form">
    <legend>
        <h3>Agregar producto</h3>
    </legend>
    <product-component product="addOrderDtlCtr.orderProduct.product" class="col-xs-12 text-center">
    </product-component>

    <div class="form-group col-xs-12">
        <label class="control-label col-xs-12 no-width-padding">Cantidad</label>
        <div class="form-inline">
            <input type="number" class="form-control" placeholder="Ingrese Cantidad" ng-model="addOrderDtlCtr.orderProduct.quantity" min="1">
            <button class="btn btn-info fa fa-plus" ng-click="addOrderDtlCtr.plusQuantity()"></button>
            <button class="btn btn-info fa fa-minus" ng-click="addOrderDtlCtr.minusQuantity()"></button>
        </div>
    </div>
    <div class="form-inline col-xs-12">

            <button class="btn btn-success" ng-click="addOrderDtlCtr.okAction()">Aceptar</button>

            <button class="btn btn-warning" ng-click="addOrderDtlCtr.cancel()">Cancelar</button>

    </div>
</div>