<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="op in orderDtlCtr.orderProducts">
                <td>{{op.product.codSubfix}}</td>
                <td>{{op.product.name}}</td>
                <td>{{op.quantity}}</td>
                <td class="div-btn no-width-padding" ng-click="ordersCtrl.removeCartProduct(op)">
                        <i class="fa fa-times red-button fa-2x"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>