<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="op in orderDtlCtr.orderProducts">
                <td>{{op.product.codSubfix}}</td>
                <td>{{op.product.name}}</td>
                <td>{{op.quantity}}</td>
                <td>
                    <button class="btn btn-error" ng-click="ordersCtrl.removeCartProduct(op)"><a class="fa fa-minus"></a></button>
                    </td>
            </tr>
        </tbody>
    </table>
</div>