<div class="navigation-menu">
	<div class="col-xs-12 menu-image-container">
		<div class="col-xs-10 no-width-padding navbar-brand">
			<img src="src/assets/logo.png" alt="website template image">
		</div>
	</div>
	<ul class="nav in side-nav col-xs-12 no-width-padding" id="side-menu">
		<li ng-repeat="item in menuCtrl.menuItems" class="menu-item" ng-class="{'menu-iten-active' : item.selected}" ng-click="menuCtrl.selectMenu(item)">
			<a href="{{item.href}}" class="menu-item-title">
				<i class="fa {{item.content}}"></i> {{item.name}}
			</a>
		</li>
	</ul>
</div>