.registration-modal, .forgot-modal, .add-account-modal,
.message-modal, .select-country-modal, .hinda-modal, .logout-speed-bump-modal {
  .row {
    margin: 0 -15px;
  }

  .account-type-step{

  }
  .account-info-step{

  }
  .support-number{
    margin: 0 35px 30px 35px;
    h2{
      color: $dark-text-color;
      font-size: 14px;
      font-weight: $regular-font-weight;
      b{
        font-weight: $bold-font-weight
      }
    }
  }
  .pad{
    height: 20px;
  }
  .check{
    height: 40px;
    width: 40px;
    font-size: 40px;
    color: $active-green-links;
    display:block;
    margin:auto;
    margin-top: 60px;
    margin-bottom: -40px;
  }
  form {
    label {
      font-size: 14px;
      font-weight: $bold-font-weight;
      color: $dark-gray-color;
      margin-bottom: 10px;
    }
  }
  .resend-confirmation{
    padding-bottom: 25px;
    text-align:center;
  }
  .activate-account-form {
    margin: 25px auto;
    text-align: center;
    a {
      display: block;
    }
  }
  .account-info-form {
    padding-top: 30px;
    max-width: 500px;
    padding-left:20px;
    padding-right:20px;
    margin: auto;
    h2{
      color: $primary-green-color;
      font-family: Lato;
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
    }
    h3 {
      margin-top: 20px;
      text-align:left;
      font-weight: $bold-font-weight;
      color: $dark-text-color;
    }
    .radio-control-label{
      color: $dark-gray-color;
      margin-bottom: 15px;
    }

    .radio-inline{
      //margin-top:

    }
  }

  .back-btn{
    background: transparent;
    position:absolute;
    top: 20px;
    left: 20px;
    border: none;
    font-size: 20px;
    color: $primary-green-color;
  }
  .modal-title{
    margin: 60px 20px 0 20px;
    h2 {
      color: $dark-text-color;
      font-size: 36px;
      font-weight: $semi-bold-font-weight;
    }
  }
  .description{
    margin: 0 20px 0 20px;
    h3 {
      display: block;
      color: $dark-gray-color;
      font-size: 18px;
      font-weight: $semi-bold-font-weight;
      line-height: 30px;
      margin: 25px 10px 0 10px;
    }
  }

  .account-type-options {
    text-align: center;
    padding: 10px 15px 70px 15px;
    .account-type-btn{
      width: 186px;
      height: 186px;
      border: 3px solid $light-gray-color;
      background-color: #fff;
      img{
        width: 30%;
        margin-left: 35%;
        margin-right: 35%;
        margin-top: 10%;
      }
      h3 {
        margin-top: 0px;
        text-align: center;
        height: 11px;
        color: $dark-text-color;
        font-size: 15px;
        font-weight: 700;
        line-height: 42px;
        text-transform: uppercase;
      }
    }
  }
  .padding{
    padding: 35px 0 0 0;
  }
  .modal-continue-btn{
    margin-left: auto;
    margin-right: auto;
    padding: 15px 35px 35px 35px;
    max-width: 360px;
  }
  .modal-continue-nopad{
    margin-left: auto;
    margin-right: auto;
    padding: 15px 35px 5px 35px;
    max-width: 360px;
  }
}

.forgot-modal {
  max-width: 630px;
  padding: 0 20px;
  p {
    color: $dark-text-color;
    font-size: 18px;
    font-weight: $regular-font-weight;
  }
  .glyphicon-ok {
    font-size: 43px;
    color: $active-green-links;
  }
  .forgot-footer {
    p {
      padding-top: 15px;
      font-size: 14px;
      font-weight: $regular-font-weight;
      b {
        font-weight: $bold-font-weight;
      }
    }
  }
  .login-error-style {
      @extend .error-style;
      margin-bottom: 10px;
      a {
        @extend .green-text-link;
      }
  }
  .recaptcha {
    margin-bottom: 0;
    ng-messages {
        .ui-error {
            padding-top: 0;
            margin-bottom: 10px;
        }
    }
  }
  .btn-default {
    margin-top: 15px;
  }
}

@media (min-width: 768px) {
  .forgot-modal {
    padding: 0 50px;
    form {
     width: 80%;
     margin-left: 10%;
     .login-error-style{
          span{
              margin-left: 0;
          }
      }
    }
  }
  .registration-modal{
    .account-type-options {
      .row {
        padding: 20px 100px 10px 100px;
      }
    }
  }
}

@media (max-width: 768px) {
  .registration-modal{
    .account-type-options {
      .row{
        .col-xs-12 {
          padding: 30px 0 0 0;
        }
      }
    }
  }
}

.image-modal {
    .modal-body {
        img {
            max-width: none;
        }
    }
}

.image-modal, .wishList-modal {
  .close-btn{
    background: transparent;
    position:absolute;
    top: 20px;
    right: 20px;
    border: none;
    font-size: 20px;
  }
  .modal-body {
    padding: 0;
    margin: 70px 50px 50px;
    .glyphicon-ok {
      font-size: 42px;
    }
    img {
      margin: auto;
      display: block;
      width: auto;
      max-width: 70%;
    }
    .product-carousel-image {
      height: 100px;
      margin: auto;
      margin-top: 30px;
      display: block;
      li {
        width: 110px;
        margin: auto;
        margin: 0 2.5px;
      }
      .image-slide {
        width: 100px;
        height: 100px;
        border: 2px solid $disable-bkgd-color;
        padding: 0 5px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
      }
    }
  }
}

.wishList-modal {
  .modal-body {
    color: $dark-text-color;
    font-size: 18px;
    font-weight: $regular-font-weight;
    b {
      font-weight: $semi-bold-font-weight;
      font-size: 36px;
      display: inline-block;
      letter-spacing: 1.5px;
    }
    img {
      height: 200px;
      width: auto;
      margin: 40px auto;
    }
    button {
      max-width: 360px;
    }
    @media (max-width: 768px) {
      b {
        font-size: 24px;
        margin-top: 15px;
      }
      img {
        margin: 20px auto;
      }
    }
  }
  @media (max-width: 768px) {
    .modal-body {
      font-size: 16px;
    }
  }
}

//Generic styles that apply to the Dialogs
.modal-content {
    border-radius: 0;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);

    .close-btn {
        background: transparent;
        position: absolute;
        top: 20px;
        right: 20px;
        border: none;
        font-size: 20px;
    }

    @media (max-width: $screen-xs-max) {
        .modal-title {
            h2 {
                font-size: 24px;
            }
        }

        p {
            font-size: 16px;
        }
    }
}

.address-book {
  .back-btn {
    text-align: left;
    left: 20px;
    color: $primary-green-color;
  }
  .modal-body {
    margin: 30px 50px 50px;
    @media (min-width: 768px) {
      .addr-book-container {
        padding: 0 60px;
      }
    }
    .address-container{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .lists {
      padding-top: 20px;
      .col-sm-6 {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    .green-btn {
      width: 100%;
      max-width: 100%;
    }
    input {
      color: $dark-text-color;
      font-weight: $semi-bold-font-weight;
      font-size: 14px;
    }
    .add-new-addr {
      font-weight: $bold-font-weight;
      padding-bottom: 10px;
      display: inline-block;
    }
  }
  .item, .single-item {
    min-height: 140px;
    vertical-align: middle;
    margin: 5px 0 10px;
    display: flex ;
    padding-left: 5px;
    padding-right: 5px;
    .inner-item {
      border: 2px solid $disable-bkgd-color;
      cursor: pointer;
      flex: 1;
      padding: 15px;
    }
    &.active {
      border: 2px solid $active-green-links;
    }
    .each-entry {
      vertical-align: middle;
      div {
        word-break: break-all;
        color: $dark-gray-color;
        font-size: 16px;
      }
    }
  }
  .single-item {
    margin: 20px auto;
    width: auto;
    height: auto;
    padding: 30px 50px 30px 15px;
  }
  .modal-body {
    margin: 50px 15px;
  }
  @media (max-width: 768px) {
    .address-form {
      form {
        .col-xs-12 {
          padding: 0;
        }
      }
    }
  }
}
.remove-link { cursor: pointer; }
.remove-link:hover { text-decoration: underline; }
.confrim-address-modal {
  .modal-body {
    .glyphicon-ok {
      top: 20px;
    }
    .content {
      margin: 0 50px;
    }
    .green-btn {
      margin-top: 30px;
      max-width: 360px;
    }
    .address-form {
      margin: 10px 0;
    }
  }
  @media (max-width: 768px) {
    .modal-body {
      margin: 50px 15px;
      .content {
        margin: 0;
      }
    }
  }
}
