<div id="apstMoleculeModal" class="reg-user" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="col-xs-12">
        <h2>Datos Motocicleta</h2>
    </div>
    <form class="form-horizontal">
        <div class="body">
            <div class="col-xs-12">
                <div class="form-group col-md-4 col-xs-12">
                    <label class="control-label col-xs-12 col-md-2">Codigo</label>
                    <div class="controls col-xs-12 col-md-10">
                        <input type="text" class="form-control" placeholder="Ingrese Codigo" ng-bind="bikeCompCtrl.bike.Code">
                    </div>
                </div>
                <div class="form-group col-md-4 col-xs-12">
                    <label class="control-label col-xs-12 col-md-2">Placa</label>
                    <div class="controls col-xs-12 col-md-10">
                        <input type="text" class="form-control" placeholder="Ingrese Placa" ng-bind="bikeCompCtrl.bike.plate">
                    </div>
                </div>
                <div class="form-group col-md-4 col-xs-12">
                    <label class="control-label col-xs-12 col-md-2">Modelo</label>
                    <div class="controls col-xs-12 col-md-10">
                        <input type="text" class="form-control" placeholder="Ingrese Model" ng-bind="bikeCompCtrl.bike.model">
                    </div>
                </div>
            </div>
            <user-component class="col-xs-12" user="bikeCompCtrl.bike.driver" text-title="bikeCompCtrl.text" save-action="bikeCompCtrl.saveAction()"></user-component>

        </div>
</div>
</form>
</div>