<div class="row">
	<div class="col-lg-12">
		<legend><h3>Clientes</h3></legend>
		<div class="row">
			<a href="#/newUser" class="option-item-link">
				<i class="fa fa-user-plus add-menu-item"></i> Agregar Cliente
			</a>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Nit</th>
						<th>Nombre</th>
						<th>Telefonos</th>
						<th>Direccion</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in userCtrl.users">
						<th>{{user.nit}}</th>
						<td>{{user.name}}</td>
						<td><span ng-repeat="phone in user.phones" ng-bind="phone.number"></span>
							</td>
						<td><span ng-repeat="address in user.addresses" ng-bind="address.direction"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>