website/.sass-cache/*
website/.sass-cache

easyBikeApi/.vs
easyBikeApi/src/easyBike.Api/bin
easyBikeApi/src/easyBike.Api/obj
easyBikeApi/src/easyBike.DataModel/bin
easyBikeApi/src/easyBike.DataModel/obj
easyBikeApi/src/easyBike.Api/images
DeployApi