website/.sass-cache/*
website/.sass-cache

netApi/easyBikeApi/src/easyBikeApi/bin
netApi/easyBikeApi/src/easyBikeApi/obj
netApi/easyBikeApi/src/easyBike.DataModel/bin
netApi/easyBikeApi/src/easyBike.DataModel/obj