@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap.scss';
@import "../node_modules/font-awesome/scss/font-awesome";


.no-padding {
  padding: 0;
}

.no-left-padding {
  padding-left: 0;
}

.no-right-padding {
  padding-right: 0;
}

.no-margin {
  margin: 0;
}

.aligment-left {
  text-align: left !important;
}

.row {
  @extend .no-margin;
}

.body-content {
  height: 90vh;
  overflow-y: auto;
}

@import "menu/menu";
@import "common";
@import "components/user/userComp"