@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap.scss';
@import "../node_modules/font-awesome/scss/font-awesome";


.no-padding {
  padding: 0;
}

.no-left-padding {
  padding-left: 0;
}

.no-right-padding {
  padding-right: 0;
}

.no-margin {
  margin: 0;
}

.aligment-left {
  text-align: left !important;
}

.row {
  @extend .no-margin;
}

.body-content {
  height: 100vh;
  overflow-y: auto;
  padding-left: 225px;
  @media (max-width: $screen-xs-min)
  {
    padding-left: 5px;
  }
}

.red-button {
  color: red;
}
.back-button{
  padding-bottom: 10px;
}
.calendar-font {
  font-size: 15px;
}
.transparent-button {
  opacity: 0.75;
  border: none;
  background-color: transparent;
  height: 100%;

}
.transparent-button:hover {
  opacity: 1;
}
.big-button {
  font-size: 24px;
}
.transparent-back {
  background-color: transparent;
}
.no-border {
  border: none;
}
.check-icon-color {
  color: $btn-success-bg;
}
.form-group {
  margin-bottom: 5px;
}
legend {
  margin-bottom: 10px;
}

.div-btn {
  opacity: 1;
  touch-action: manipulation;
}
.div-btn:hover {
  opacity: 0.75;
  cursor: pointer;
}

.div-btn:active {
    top: 2.5px;
    border-bottom: 0;
    @include tab-focus;
}

.div-btn-selected {
    border-color: #ccc;
    border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: thin dotted\9;
    -webkit-box-shadow: 0 0 8px rgba(82,168,236,.6);
    box-shadow: 0 0 8px rgba(82,168,236,.6);
}

.small-top-padding {
  padding-top: 10px;
}

.small-h-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.selection-column {
  padding: 2px !important;
  font-size: 20px;
}
.fa-hover:hover {
    text-decoration: none;
    font-size: 15px;
}

.border-hover:hover {
  border-color: $btn-info-bg;
  border-width: 1px;
}

.td-middle-text {
  vertical-align:middle !important;
}

@import "menu/menu";
@import "common";
@import "components/user/userComp";
@import "components/image/imageComponent";
@import "components/address/addressComponent";
@import "components/phone/phoneComponent";
@import "components/productCategory/productCategoryComp";
@import "components/step/stepComponent";
@import "components/wizardSteps/wizardSteps";
@import "components/business/businessComponent";
@import "components/product/productComp";
@import "orders/panel/orderPanel";
@import "orders/orders";
@import "components/stock/stockComonent";
@import "report/report";
@import "orders/orderStatus/orderStatus";