@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap.scss';
@import "../node_modules/font-awesome/scss/font-awesome";


.no-padding {
  padding: 0;
}

.no-left-padding {
  padding-left: 0;
}

.no-right-padding {
  padding-right: 0;
}

.no-margin {
  margin: 0;
}

.aligment-left {
  text-align: left !important;
}

.row {
  @extend .no-margin;
}

.body-content {
  height: 90vh;
  overflow-y: auto;
}

.red-button {
  color: red;
}
.transparent-button {
  opacity: 0.75;
  border: none;
  background-color: transparent;
  height: 100%;

}
.transparent-button:hover {
  opacity: 1;
}
.big-button {
  font-size: 24px;
}
.transparent-back {
  background-color: transparent;
}
.no-border {
  border: none;
}
.check-icon-color {
  color: green;
}
.form-group {
  margin-bottom: 5px;
}
legend {
  margin-bottom: 10px;
}
@import "menu/menu";
@import "common";
@import "components/user/userComp";
@import "components/image/imageComponent";
@import "components/address/addressComponent";
@import "components/phone/phoneComponent";
@import "components/productCategory/productCategoryComp";
