<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<script type="text/javascript">
        window.EASYBIKE_BASE_URL = '<%= baseUrl %>';
        window.EASYBIKE_USE_RECAPTCHA_MOCK = <%= useReCaptchaMock %>;
    </script>


	<!-- compiled CSS -->
	<% styles.forEach( function ( file ) { %>
		<link rel="stylesheet" type="text/css" href="<%= file %>" />
		<% }); %>

			<!-- compiled JavaScript -->
			<% scripts.forEach( function ( file ) { %>
				<script type="text/javascript" src="<%= file %>"></script>
				<% }); %>

					<!-- liveReload if needed.
    <% lr && lr.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>-->

	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBE4B3RIWwf0xeSnjOy2IxiBQ61WM7BX7w"
  type="text/javascript"></script>
</head>

<body>
	<menu-bar></menu-bar>
    <div  ui-view class="body-content" autoscroll="true"></div>
</body>

</html>