.main-panel-step {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 10px solid darkgrey;
}


.w-step-container {
    display: inline-block;
    height: 40px;
}
.w-icon-container {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: aquamarine;

}

.w-bar {
    display: inline-block;
    width: 200px;
    border-top: 9px solid crimson;
    height: 30px;
}

.order-panel {
    overflow-y: auto;
    max-height: 75vh;
}