<div id="apstMoleculeModal" class="reg-user" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <legend>
        <h3>{{userCompCtrl.textTitle}}</h3>
    </legend>
    <form class="form" name="clientForm" novalidate>
        <div class="form-group col-xs-12" ng-class="{ 'has-error' : clientForm.clientNit.$invalid && userCompCtrl.submited }">
            <label class="control-label">NIT / CI <span ng-show="clientForm.clientNit.$invalid && userCompCtrl.submited" class="error-point">*</span></label>
            <input name="clientNit" type="number" class="form-control" placeholder="Ingrese Nit / CI" ng-model="userCompCtrl.user.nit"
                required ng-minlength="5" ng-maxlength="15">
            <div class="error-content">
                <span ng-show="clientForm.clientNit.$error.minlength" class="help-block error-field">minimo 5 caracteres.</span>
                <span ng-show="clientForm.clientNit.$error.maxlength" class="help-block error-field">maximo 15 caracteres.</span>
            </div>
        </div>
        <div class="form-group col-xs-12" ng-class="{ 'has-error' : clientForm.clientName.$invalid && userCompCtrl.submited }">
            <label class="control-label">Nombre <span ng-show="clientForm.clientName.$invalid && userCompCtrl.submited" class="error-point">*</span></label>
            <input type="text" name="clientName" class="form-control" placeholder="Ingrese Nombre" required ng-model="userCompCtrl.user.name">
            <div class="error-content">
                <span ng-show="clientForm.clientName.$error.minlength" class="help-block error-field">minimo 5 caracteres.</span>
                <span ng-show="clientForm.clientName.$error.maxlength" class="help-block error-field">maximo 15 caracteres.</span>
            </div>
        </div>
        <div class="form-group col-xs-12" ng-class="{ 'has-error' : userCompCtrl.errorPhone  && userCompCtrl.submited }" ng-focus="userCompCtrl.validateUser()">
            <phone-component phones="userCompCtrl.user.phones" class="col-xs-12 no-width-padding"></phone-component>
        </div>
        <div class="form-group col-xs-12" ng-class="{ 'has-error' : userCompCtrl.errorAddress && userCompCtrl.submited }" ng-validate="userCompCtrl.validateUser()">
            <address-component addresses="userCompCtrl.user.addresses" class="col-xs-12 no-width-padding" selection-change="userCompCtrl.selectionAddressChange()"
                enable-selection="userCompCtrl.selectionAddressEnabled"></address-component>
        </div>

        <div class="col-xs-12" ng-if="userCompCtrl.displayError">
            <div class="alert alert-danger" role="alert">
                <span>(*) Campos requeridos</span>
                <span ng-if="userCompCtrl.errorPhone"><br>Se necesita 1 numero telefonico</span> <span ng-if="userCompCtrl.errorAddress"><br>Se necesita una direccion</span>
            </div>
        </div>
        <div class="row col-xs-12" ng-if="userCompCtrl.displaySave">
            <save-button click-action="userCompCtrl.saveData(clientForm.$invalid)" text-title="userCompCtrl.saveText"></save-button>
        </div>
    </form>
</div>