<div id="apstMoleculeModal" class="reg-user" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <legend>{{userCompCtrl.textTitle}}</legend>
    <form class="form">
        <div class="body">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Telefonos</label>
                    <div class="col-xs-12 no-width-padding">
                        <div class="col-xs-12 col-md-6 no-width-padding">
                            <div class="col-xs-9  no-padding">
                                <input type="number" class="form-control" placeholder="Ingrese Telefono" ng-model="userCompCtrl.newPhone.number" ng-blur="userCompCtrl.phoneChange()">
                            </div>
                            <list-buttons class="col-xs-3 control-label" name="phone" add="userCompCtrl.addPhone(userCompCtrl.newPhone)" ng-model="userCompCtrl.newPhone"></list-buttons>
                        </div>
                        <div class="col-xs-12 col-md-6 no-width-padding" ng-repeat="item in userCompCtrl.user.phones">
                            <div class="col-xs-9 no-width-padding">
                                <input type="number" class="form-control" placeholder="Ingrese Telefono" ng-model="item.number">
                            </div>
                            <list-buttons class="col-xs-3 control-label" remove="userCompCtrl.removePhone(item)"></list-buttons>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">NIT / CI</label>

                    <input type="number" class="form-control" placeholder="Ingrese Nit / CI" ng-model="userCompCtrl.user.nit">

                </div>
                <div class="form-group">
                    <label class="control-label">Nombre</label>

                    <input type="text" class="form-control" placeholder="Ingrese Nombre" ng-model="userCompCtrl.user.name">

                </div>
                <div class="form-group">
                    <label class="control-label">Apellido</label>

                    <input type="text" class="form-control" placeholder="Ingrese Apellido" ng-model="userCompCtrl.user.lastName">

                </div>
            </div>
            <div class="form-group col-md-6">

                <div class="form-group">
                    <label class="control-label">Direcciones</label>
                    <div class="col-xs-12 no-width-padding">

                        <div class="col-xs-11 no-width-padding">
                            <input type="text" class="form-control" placeholder="Ingrese Direccion" ng-model="userCompCtrl.newAdress.location">
                        </div>
                        <list-buttons class="col-xs-1 control-label aligment-left" name="phone" add="userCompCtrl.addAddress(userCompCtrl.newAdress)"></list-buttons>
                    </div>
                </div>
                <div class="form-group" ng-repeat="item in userCompCtrl.user.addresses">
                    <label class="control-label">Direcciones</label>
                    <div class="col-xs-12 no-width-padding">
                        <div class="col-xs-11 no-width-padding">
                            <input type="text" class="form-control" placeholder="Ingrese Direccion" ng-model="item.location">
                        </div>
                        <list-buttons class="col-xs-1 control-label aligment-left" remove="userCompCtrl.removeAddress(item)"></list-buttons>
                    </div>
                    <div class="col-xs-12 no-width-padding">
                        <map zoom="15" center="{{item.location}}">
                        <marker position="{{item.location}}" />
                        <control name="overviewMap" opened="true" />
                        </map>
                    </div>
                </div>
            </div>


            <div class="row" ng-if="userCompCtrl.displaySave">
                <div class="col-xs-12">
                    <button type="button" class="form-control btn btn-primary col-offset-2 col-xs-8" ng-click="userCompCtrl.saveAction()">Save changes</button>
                </div>
            </div>
        </div>
</div>
</form>
</div>