<div id="apstMoleculeModal" class="reg-user" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <legend>
        <h3>{{userCompCtrl.textTitle}}</h3>
    </legend>
    <form class="form">
            <div class="form-group col-xs-12">
                <label class="control-label">NIT / CI</label>
                <input type="number" class="form-control" placeholder="Ingrese Nit / CI" ng-model="userCompCtrl.user.nit">
            </div>
            <div class="form-group col-xs-12">
                <label class="control-label">Nombre</label>
                <input type="text" class="form-control" placeholder="Ingrese Nombre" ng-model="userCompCtrl.user.name">
            </div>
            <div class="form-group col-xs-12">
                <phone-component phones="userCompCtrl.user.phones" class="col-xs-12 no-width-padding"></phone-component>
            </div>
            <div class="form-group col-xs-12">
                <address-component addresses="userCompCtrl.user.addresses" class="col-xs-12 no-width-padding" selection-change="userCompCtrl.selectionAddressChange()"
                    enable-selection="userCompCtrl.selectionAddressEnabled"></address-component>
            </div>
        <div class="row col-xs-12" ng-if="userCompCtrl.displaySave">
            <save-button click-action="userCompCtrl.saveAction()" text-title="userCompCtrl.saveText"></save-button>
        </div>

    </form>
</div>