<legend class="control-label col-xs-12 no-width-padding">
    <span class="col-xs-6 no-width-padding">Telefonos</span>
    <a class="col-xs-6 no-width-padding right-aligment add-more" href="" ng-click="phoneCompCtrl.addPhone(phoneCompCtrl.newPhone)">
        <i class="fa fa-plus-square add-menu-item"></i><span> Agregar telefono nuevo</span>
    </a>
</legend>

<div class="col-xs-12">
    <div class="col-xs-12 col-sm-6 no-width-padding phone-container" ng-repeat="item in phoneCompCtrl.phones">
        <div class="col-xs-11 col-sm-10 col-md-11 col-lg-10 no-width-padding">
            <input type="number" class="form-control" placeholder="Ingrese Telefono" ng-model="item.number">
        </div>
        <list-buttons class="col-xs-1 col-sm-2 col-md-1 col-lg-2 no-left-padding control-label" remove="phoneCompCtrl.removePhone(item)"></list-buttons>
    </div>
</div>