<div class="row">
	<div class="col-lg-6">
		<legend>Empresas</legend>
		<div class="row">
			<a href="#/newBusiness" class="option-item-link">
				<i class="fa fa-plus add-menu-item"></i> Agregar Empresas
			</a>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Telefonos</th>
						<th>Direccion</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in userCtrl.users">
						<td>{{user.name}}</td>
						<td>{{user.lastName}}</td>
						<td><span ng-repeat="phone in user.phones" ng-bind="phone.number"></span>
							</td>
						<td><span ng-repeat="address in user.addresses" ng-bind="address.location"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>