.message-modal {
    margin: 4% 2%;
    .button-link{
        width: 100%;
        height: $command-button-height;
        text-decoration: none;
    }
    .row {
        margin: 0px;
    }

    .message-modal-body {
        .title-icon {
            margin-top: 40px;
            font-size: 35px;
        }
        .content-container {
            margin-top: 20px;
            margin-bottom: 20px;

            .content-bold {
                font-weight: $bold-font-weight;
            }

            .content-medium {
                font-size: 15px;
            }

            .content-large {
                font-size: 22px;
            }

            .content-extra-large {
                font-size: 28px;
            }
            .light-gray {
                color: $light-gray-text-color;
            }

            p {
                font-size: 18px;
                font-weight: $regular-font-weight;
            }
        }
        button {
            text-transform: uppercase;
        }
    }
}

@media (max-width: $screen-sm-min) {
    .message-modal {
        .col-xs-offset-3 {
            padding: 0;
        }
        .message-modal-body {
            .title {
                h1 {
                    font-size: 24px;
                }
            }
            .content-container {
                p {
                    font-size: 16px;
                }
            }
        }
    }
}
