<div class="main-edit-image-container ">
    <label class="control-label col-xs-12 no-width-padding" ng-show="imgCompCtrl.displayImage">Imagen</label>
    <div class="col-xs-12 no-width-padding form-inline" ng-show="imgCompCtrl.displayImage">
        <div class="form-group ">
            <img data-ng-src="{{imgCompCtrl.imageUrl}}" alt="" class="img-thumbnail single-image ">
        </div>
        <div class="form-group">
            <input id="imgCompInp" type="file" class="file" accept="image/*">
        </div>
    </div>
    <div class="col-xs-12 img-thumbnail" ng-if="!imgCompCtrl.displayImage">
        <legend>Seleccionar imagen</legend>
        <div class="form-inline">
            <div class="form-group edit-image-container" ng-if="imgCompCtrl.displayImageEdition">
                <div id="croppier-container">
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-default" ng-click="imgCompCtrl.cutImage()" ng-if="imgCompCtrl.displayImageEdition">
                    <i class="fa fa-cut"></i>
                Cortar imagen
                </button>
            </div>
        </div>
    </div>
</div>