<button type="button" class="btn btn-xs glyphicon glyphicon-plus btn-success" ng-click="lbCtrl.add()" ng-if="lbCtrl.displayAdd"></button>
<button type="button" class="btn btn-xs glyphicon glyphicon-pencil btn-warning" ng-click="lbCtrl.edit()" ng-if="lbCtrl.displayEdit"></button>
<button type="button" class="transparent-button big-button" ng-click="lbCtrl.remove()" ng-if="lbCtrl.displayRemove">
        <i class="fa fa-times red-button"></i>
</button>
<button type="button" class="transparent-button big-button" ng-click="lbCtrl.show()" ng-if="lbCtrl.displayShow" >
        <i class="fa" ng-class="lbCtrl.isDisplayed ? 'fa-caret-up' : 'fa-caret-down'"></i>
</button>