.doot-step {

}

.step-line-style {
    border-top: 10px solid #eeeeee;
}

.step-line-style-no-color {
    border-top: 10px solid transparent;
}

.circle {
	border-radius: 50%;
    border: 2px solid;
    height: 50px;
}

.step-icon {
    border: 2px solid brown;
    width: 50px;
    font-size: 50px;
}

.panel-color {
    background-color: #337ab7;
    border-radius: 4px;
    color: white;
}