<legend>
    <h2>{{stockCompCtrl.title}}</h2>
</legend>

<div class="input-group" ng-if="stockCompCtrl.allowSearch">
    <div class="input-group-addon"><i class="fa fa-search"></i></div>
    <input id="searchTextId" type="text" class="form-control" placeholder="Buscar producto" ng-model="stockCompCtrl.searchText"
        ng-change="stockCompCtrl.searchChange()">
    <div class="input-group-addon">
        <button class="transparent-button">
            <i class="fa fa-search"></i>
        </button>
    </div>
</div>

<div class="stock-table">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th ng-if="!stockCompCtrl.hideDueDate">Fecha de Vencimiento</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="stock in stockCompCtrl.stocks | filter:stockCompCtrl.searchText">
                <td>{{stock.product.codSubfix}}</td>
                <td>{{stock.product.name}}</td>
                <td><span ng-bind="stock.quantity" ng-if="!stockCompCtrl.readOnly"></span>
                    <input type="number" class="form-control" placeholder="Ingrese Cantidad" ng-model="stock.quantity" max="999999" min="0" ng-if="stockCompCtrl.readOnly">
                </td>
                <td ng-if="!stockCompCtrl.hideDueDate">
                    <span ng-bind="stock.dueDate | date" ng-if="!stockCompCtrl.readOnly"></span>
                    <div class="input-group date" id="datetimepicker1" ng-if="stockCompCtrl.readOnly">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="stock.dueDate" is-open="stockCompCtrl.datePicks[$index]"
                            datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="stockCompCtrl.openDatePick($index)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div ng-if="stockCompCtrl.displaySave">
    <save-button click-action="stockCompCtrl.saveAction()" text-title="'Guardar Stock'"></save-button>

</div>