<div class="col-xs-12">
    <legend>
        <h2 ng-if="ordersStatusCtrl.displayBikes">Asignar Motocicleta</h2>
        <h2 ng-if="!ordersStatusCtrl.displayBikes && !ordersStatusCtrl.displayDelivery">Ordenes en proceso</h2>
        <h2 ng-if="ordersStatusCtrl.displayDelivery">Ordenes entregadas</h2>
    </legend>
    <div class="row pull-right back-button" ng-if="ordersStatusCtrl.displayBikes">
        <button class="btn btn-danger back-button" ng-click="ordersStatusCtrl.cancel()">
            <i class="fa fa-times"></i> Regresar a lista de ordenes
        </button>
    </div>
    <div class="row pull-right back-button" ng-if="ordersStatusCtrl.displayDelivery">
        <button class="btn btn-danger back-button" ng-click="ordersStatusCtrl.loadOrders()">
            <i class="fa fa-times"></i> Regresar a lista de ordenes
        </button>
    </div>
    <div class="row pull-left back-button" ng-if="!ordersStatusCtrl.displayDelivery">
        <button class="btn btn-success back-button" ng-click="ordersStatusCtrl.selectDeliverOrders()">
            <i class="fa fa-times"></i> Ordenes entregadas
        </button>
    </div>
    <div class="stock-table">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Nro</th>
                    <th>Fecha</th>
                    <th>Nombre Cliente</th>
                    <th>Direccion</th>
                    <th>Motocicleta</th>
                    <th>Estado</th>
                    <th ng-if="!ordersStatusCtrl.displayBikes">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="order in ordersStatusCtrl.orders">
                    <td>{{order.id}}</td>
                    <td>
                        <span class="time-order" ng-bind="order.date | amCalendar"></span>
                        <span class="text-primary">
                            <i class="fa fa-shopping-cart"></i>
                            <time class="time-counter" ng-if="!ordersStatusCtrl.displayDelivery" am-time-ago="order.date"></time>
                            <time class="time-counter" ng-if="ordersStatusCtrl.displayDelivery">{{order.deliverDate | amDifference : order.date : 'minute'}} Minutos</time>
                        </span>
                        <span class="text-success">
                            <i class="fa fa-motorcycle"></i>
                            <time class="time-counter" ng-if="!ordersStatusCtrl.displayDelivery && order.state === 'Transit'" am-time-ago="order.inTransitDate"></time>
                            <time class="time-counter" ng-if="ordersStatusCtrl.displayDelivery">{{order.deliverDate | amDifference : order.inTransitDate : 'minute'}} Minutos</time>
                            <span class="time-counter" ng-bind="order.bikePrice | currency" ng-if="ordersStatusCtrl.displayDelivery"></span>
                        </span>

                    </td>
                    <td>{{order.client.name}}</td>
                    <td>{{order.deliveryAddress.direction}}</td>
                    <td>{{order.bike.plate}} {{order.bike.driver.name}}</td>
                    <td>{{order.state}}</td>
                    <td class="text-center" ng-if="!ordersStatusCtrl.displayBikes">
                        <button class="btn btn-success col-xs-6 no-padding" ng-click="ordersStatusCtrl.deliverOrder(order)" ng-if="order.state === 'Transit'"
                            data-toggle="tooltip" data-placement="top" title="Completar Orden {{order.id}}">
                        <i class="fa fa-check"></i>
                         </button>
                        <button class="btn col-xs-6 btn-info no-padding" ng-click="ordersStatusCtrl.addBikeToOrder(order)" ng-if="order.state === 'Waiting'"
                            data-toggle="tooltip" data-placement="top" title="Asignar Motocicleta">
                        <i class="fa fa-motorcycle"></i>
                         </button>
                        <button class="btn col-xs-6 no-padding" ng-click="ordersStatusCtrl.cancelOrder(order)" data-toggle="tooltip" data-placement="top"
                            title="Cancelar Orden {{order.id}}">
                        <i class="fa fa-times red-button"></i>
                         </button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-12" ng-if="ordersStatusCtrl.displayBikes">
        <legend>Lita de motos habilitadas</legend>
        <bike-table-component bikes="ordersStatusCtrl.bikes" enable-selection="true" selection-change="ordersStatusCtrl.selectionBikeChange()"></bike-table-component>
    </div>
</div>