<div class="col-xs-12 img-thumbnail no-width-padding">
    <legend class="control-label col-xs-12 no-margin-bottom no-width-padding">
        <span class="col-xs-10">{{businessCompCtrl.business.name}}</span>
        <a class="col-xs-2 right-aligment add-more" href="" ng-click="addressCompCtrl.addAddress(addressCompCtrl.newAdress)">
            <i class="fa fa-plus-square add-menu-item"></i>
        </a>
    </legend>

    <div class="col-xs-12 no-width-padding">        
        <img data-ng-src="{{businessCompCtrl.business.imageUrl}}" alt="" class="single-image">
    </div>
</div>